<!-- navbar partial: paste into views/partials/navbar.ejs -->
<link rel="stylesheet" href="global/css/global.css">

<div class="navBar">
    <a href="/"><img class="logo" src="/global/img/juntologo.svg" style="height:40px;"></a>
    <ul class="navList">
        <li><a href="/information">Information</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <button id="toggleBtn">☰</button>
</div>

<!-- Sidebar -->
<div class="sidebar">
    <ul>
        <li><a href="/"><img class="logo" src="/global/img/juntologo.svg" style="height:50px;"></a></li>
        <li><a href="/information">Information</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>

<script src="/global/script/global.js"></script>