<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
    <link rel="stylesheet" href="/global/css/global.css">
    <link rel="stylesheet" href="/clubs/css/window1.css">
    <link rel="stylesheet" href="/clubs/css/window2.css">

</head>
<body>


    <%- include('partials/navbar') %>
    <%- include('partials/layout')%>

    <div class="window" id="clbs-w1">
        <h1>What is "clubs" ?</h1>
        <p>
            - Clubs are dedicated groups of
            people that share a similar interest
            at many different levels. They can be absolute beginners
            or professionals at said interest, and their goal is to learn,
            create, innovate and most importantly enjoy their time
            doing what they like !
        </p>
        <h1>What clubs do you offer ?</h1>
        <p>
            - Check them below ! <br>
            You may apply to all the clubs that you'd like.
            If you don't find something that quite fits you,
            you can always ask to create it !
        </p>
    </div>

    <div class="window" id="clbs-w2">
        <div class="clbs-sec" id="clbs-sec1"><p>Gaming</p><a><img class="clbs-logo" id="gaming-logo" src="/global/img/gaminglogo.png"></a></div>
        <div class="clbs-sec" id="clbs-sec2"><p>Book</p><a><img class="clbs-logo" id="book-logo" src="/global/img/booklogo.png"></a></div>
        <div class="clbs-sec" id="clbs-sec3"><p>Art</p><a><img class="clbs-logo" id="art-logo" src="/global/img/artlogo.png"></a></div>
        <div class="clbs-sec" id="clbs-sec4"><p>Movies</p><a><img class="clbs-logo" id="movie-logo" src="/global/img/movielogo.png"></a></div>
        <div class="clbs-sec" id="clbs-sec5"><p>Arabic</p><a><img class="clbs-logo" id="arabic-logo" src="/global/img/arabiclogo.png"></a></div>
        <div class="clbs-sec" id="clbs-sec6"><p>STEM</p><a><img class="clbs-logo" id="stem-logo" src="/global/img/stemlogo.png"></a></div>
        <div class="clbs-sec" id="clbs-sec7"><p>Music</p><a><img class="clbs-logo" id="music-logo" src="/global/img/musiclogo.png"></a></div>
        <div class="clbs-sec" id="clbs-sec8"><p>Photography</p><a><img class="clbs-logo" id="photography-logo" src="/global/img/photographylogo.png" ></a></div>
    </div>

</body>
</html>