<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/global/css/global.css">
    <link rel="stylesheet" href="/contact/css/window1.css">
</head>
<body>


    <%- include('partials/navbar') %>
    <%- include('partials/layout')%>

    <div class="window" id="contact-w1">

        <div class="contact-sec" id="contact-sec1">
            <div class="subsec" id="sec1-subsec1">
                
            </div>
            <div class="subsec" id="sec1-sebsec2">

            </div>
        </div>

        <div class="contact-sec" id="contact-sec2">
            <div class="subsec" id="sec2-subsec1">

            </div>
            <div class="subsec" id="sec2-subsec2">

            </div> 
        </div>

        <!-- <div class="contact-sec" id="contact-sec3">
            <h1>Header</h1><p>paragraph</p>
        </div>
        <div class="contact-sec" id="contact-sec4">
            <h1>Header</h1><p>paragraph</p>
        </div> -->

    </div>

</body>
</html>