<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junto</title>
    
    <link rel="stylesheet" href="/homepage/css/home.css">
    <link rel="stylesheet" href="homepage/css/window1.css">
    <link rel="stylesheet" href="/homepage/css/window2.css">
    <link rel="stylesheet" href="/homepage/css/window3.css">
    <link rel="stylesheet" href="/homepage/css/window4.css">
</head>
<body>

    <%- include('partials/navbar') %>
    <%- include('partials/layout')%>

    <div class="window", id="window1">


        <div id="w1-sec1">
            <h1>Junto</h1>

            <p>
                The perfect place to let your skills and interests shine
            </p>

        </div>

    </div>

    <div class="window" id="window2">
        <div class="w2-sec" id="w2-sec1">
            <a href="/clubs"><img class="main-image" src="/homepage/img/silhouette.png"></a>
            <p>Our campus offers a wide range of clubs,
                designed to match a variety of tastes,
                interests, and passions.
            </p>
        </div>

        <div class="w2-sec" id="w2-sec2">
            <p>The ideal space to connect with fellow students,
                exchange ideas, and build lasting friendships.
                It’s not just about communication — it’s about expanding your knowledge.
            </p>
            <a href="https://t.me/uobcomjunto"><img class="main-image" src="/homepage/img/comms.png"></a>
        </div>

        <div class="w2-sec" id="w2-sec3">
            <a href="/contact"><img class="main-image" src="/homepage/img/social.png"></a>
            <p>Don’t forget to follow us on social media and stay updated with all
                the latest news,
                events, and community happenings!</p>
        </div>

    </div>
    
    <div class="window" id="window3">

        <div class="w3-sec" id="w3-sec1">

            <p>
                Junto’s Gallery: Celebrating art and photography from our community.
                <br><br>
                scroll to see more
            </p>

        </div>

        <div class="w3-sec" id="w3-sec2">

            <section class="wide-section">
                <div class="box" id="box1"></div>
                <div class="box" id="box2"></div>
                <div class="box" id="box3"></div>
                <div class="box" id="box4"></div>
                <div class="box" id="box5"></div>
                <div class="box" id="box6"></div>
                <div class="box" id="box7"></div>
                <div class="box" id="box8"></div>
                <div class="box" id="box9"></div>
                <div class="box" id="box10"></div>
                <div class="box" id="box11"></div>
                <div class="box" id="box12"></div>
            </section>

        </div>
    </div>

    <div class="window" id="window4">

        <h1>Do you want to join us <span>?</span></h1>
        <p>Apply Here <i class="fa-solid fa-arrow-right"></i><a href="https://t.me/uobcomjunto" target="_blank"><i class="fa-solid fa-message"></i></a></p>

    </div>


    <script src="https://kit.fontawesome.com/20e85da562.js" crossorigin="anonymous"></script>
    <script src="/homepage/script/home.js"></script>
</body>
</html>

