<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero's test chamber</title>
    <link rel="stylesheet" href="/test/test.css">
</head>
<body>
    
    <div class="test-window" id="window1">
        <h1>Oops you just stumpled into the test chamber... Sneaky little guy.. or girl</h1>
        <p>well... since you're here please don't mind the mess. This place is for "coding expirements"</p>
    </div>

    <div class="tesdt-window" id="window2">
        <div class="w2-sec" id="w2-sec1">1</div>
        <div class="w2-sec" id="w2-sec2">2</div>
    </div>

    <div class="test-window" id="window3">
        <div class="section">
            <div class="wide-box" id="box1"></div>
            <div class="wide-box" id="box2"></div>
            <div class="wide-box" id="box3"></div>
            <div class="wide-box" id="box4"></div>
            <div class="wide-box" id="box5"></div>
            <div class="wide-box" id="box6"><!-- <img src="/test/art-pic.png"> --></div>
            <div class="wide-box" id="box7"></div>
            <div class="wide-box" id="box8"></div>
            <div class="wide-box" id="box9"></div>
            <div class="wide-box" id="box10"></div>
        </div>
    </div>

    <div class="test-window" id="window4">
        <div class="monitor"></div>
        <button id="deleteBtn">Delete</button>
    </div>

    <div class="test-window" id="window5">
        <p id="myText">Meow</p>
    </div>

    <script src="/test/test.js"></script>
</body>
</html>