body {
    font-family: 'Montserrat', sans-serif;
    color: #69287c;
}

#gmng-w1 {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0e0612;
}
