/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
    background: #69287c; /* track color */
    border-radius: 15px;
    }

    ::-webkit-scrollbar-thumb {
    background: #0e0612; /* scrollbar thumb */
    border: #b5caff 1px solid;
    border-radius: 15px;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: #69287c;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* prevents horizontal scrolling */
}


/* Navbar */
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(10,10, 10,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    overflow: hidden;
}

.navList {
    display: flex;
    list-style: none;
    align-items: center;
}

.navList li {
    padding: 0 1rem;
}

.navList li a {
    text-decoration: none;
    color: #69287c;
    font-size: 1.2rem;
}

.navList li a:hover {
    text-decoration: underline;
    color: #9481d4;
}

/* Toggle Button */
#toggleBtn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #69287c;
    cursor: pointer;
    z-index: 1500;
}

#toggleBtn:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.8);
    backdrop-filter: blur(10px);
    z-index: 1200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}

.sidebar ul li {
    font-size: 2rem;
    margin: 1rem 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #69287c;
}

.sidebar ul li a:hover {
    color: black;
}

.window {
    width: 100vw;
    margin-bottom: 0;
    padding: 15px;
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 800px) {
    #toggleBtn {
        display: block;
    }

    .navList {
        display: none;
    }

    .navBar{
        width: 100%;
        height: auto;
        position: fixed;
    }
    
    * {
        box-sizing: border-box;
    }

    .body{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    
    .window{
        width: 100vw;
    }

    .sidebar{
        width: 100%;
        height: 100vh;
    }
}

