@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');


#window1{
    height: auto;
    background-color: #0e0612;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#w1-sec1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#window1 h1 {
    color: #b5caff;
    /* text-shadow: black -2px 2px 1px; */
    animation: textShadow ease 3s infinite;
}

#window1 p {
    font-size: 1.25em;
    color: #9481d4;
    text-align: center;
    max-width: 75%;
    margin-right: 50px;
    margin-left: 50px;
}

@keyframes textShadow {
    0% {
        text-shadow: #69287c -3px 2px 1px;
    }
    25% {
        text-shadow: #69287c 0px 2px 1px;
    }
    50% {
        text-shadow: #69287c 3px 2px 1px;
    }
    75% { 
        text-shadow: #69287c 0px 2px 1px;
    }
    100% {
        text-shadow: #69287c -3px 2px 1px;
    }
}

@media (max-width:600px) {
    #window1 p {
    font-size: 1em;
    font-weight: 600;
    }
}