#window3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0e0612;
    color: #9481d4;
    font-size: 1em;
    gap: 50px;
}

#w3-sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    font-size: 1.5em;
}

#w3-sec1 p{ 
    font-size: 1em;
    font-weight: 600;
}

#w3-sec2 {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height: 500px;
}

.wide-section {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.wide-section .box{
    aspect-ratio: 1080/1920;
    height: 300px;
    border: #69287c solid 3px;
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

.box:first-child{
    margin-left: 60px;
}

.box:last-child{
    margin-right: 60px;
}

.box {
    background-repeat: no-repeat;
}

#box1 {
    background-image: url(/homepage/gallery/art1.jpg);
    background-size: contain;
    background-position: center;
}

#box2 {
    background-image: url(/homepage/gallery/art2.jpg);
    background-size: contain;
    background-position: center;
}

#box3 {
    background-image: url(/homepage/gallery/art3.jpg);
    background-size: contain;
    background-position: center;
}

#box4 {
    background-image: url(/homepage/gallery/art4.jpg);
    background-size: contain;
    background-position: center;
}

#box5 {
    background-image: url(/homepage/gallery/art5.jpg);
    background-size: contain;
    background-position: center;
}

#box6 {
    background-image: url(/homepage/gallery/art6.jpg);
    background-size: contain;
    background-position: center;
}

#box7 {
    background-image: url(/homepage/gallery/art7.jpg);
    background-size: contain;
    background-position: center;
}

#box8 {
    background-image: url(/homepage/gallery/phg1.jpg);
    background-size: contain;
    background-position: center;
}

#box9 {
    background-image: url(/homepage/gallery/phg2.jpg);
    background-size: contain;
    background-position: center;
}

#box10 {
    background-image: url(/homepage/gallery/phg3.jpg);
    background-size: contain;
    background-position: center;
}

#box11 {
    background-image: url(/homepage/gallery/phg4.jpg);
    background-size: contain;
    background-position: center;
}

#box12 {
    background-image: url(/homepage/gallery/phg5.jpg);
    background-size: contain;
    background-position: center;
}

@media (max-width:600px) {
    #w3-sec1 p{
        font-size: 0.6em;
    }
}