@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');

#window2{
    background-color: #0e0612;
    display: grid;
    grid-template-columns: 12, 1fr;
    grid-template-rows: 12, 1fr;

}

.w2-sec{
    margin: 20px;
    grid-column: 1/13;
}

#w2-sec1 {
    display: flex;
    grid-row: 1/5;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#w2-sec1 p{
    font-size: 1.5em;
    text-align: center;
    color: #9481d4;
}

#w2-sec2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-row: 5/9;
    align-items: center;
}

#w2-sec2 p{
    font-size: 1.5em;
    color: #9481d4;
    text-align: center;
}

#w2-sec3 {
    display: flex;
    grid-row: 9/13;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#w2-sec3 p{
    font-size: 1.5em;
    color: #9481d4;
    text-align: center;
}

.main-image {
    height: 300px;
    width: 300px;
    align-items: center;
    transition: transform ease 0.5s, border 0s ease ;
}

.main-image:hover{
    outline: #b5caff 3px solid;
    border-radius: 15px;
    transform: translateY(-5px);
}

.w2-sec p{
    margin: 20px;
    max-width: 50%;
}

@media (max-width:600px) {
    .main-image {
        height: 150px;
        width: 150px;
    }

    #w2-sec1 p, #w2-sec2 p, #w2-sec3 p{
        font-size: 0.6em;
        font-weight: 600;
    } 
}