<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/global/css/global.css">
</head>
<body>


    <%- include('partials/navbar') %>
    <%- include('partials/layout')%>

    <div class="window" id="-w1">

        <div class="window">

        </div>

    </div>

</body>
</html>