<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/global/css/global.css">
    <link rel="stylesheet" href="/subclubs/gaming/css/window1.css">
</head>
<body>


    <%- include('../partials/navbar') %>
    <%- include('../partials/layout')%>


    <div class="window" id="gmng-w1">
        <div class="gmng-sec" id="gmng-sec1">
            
        </div>
        
        <div class="gmng-sec" id="gmng-sec2">

        </div>

        <div class="gmng-sec" id="gmng-sec3">

        </div>
    </div>

</body>
</html>